<!--
<h1>Angular Router</h1>
<nav>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/profile" routerLinkActive="active">Profile</a>
</nav>
-->


<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Programação Funcional</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLink="/home" routerLinkActive="active"><a>Home</a></li>
        <li routerLink="/profile" routerLinkActive="active"><a>Profile</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" id="login-nav" *ngIf="!isAuthenticated" (click)="renderGoogleAuthButton()">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
          <ul id="login-dp" class="dropdown-menu" >
            <li>
              <div class="row">
                <div class="col-md-12">
                  Login via
                  <div class="social-buttons">
                    <div id="my-signin2" (data-onsuccess)="onSignIn"></div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul >
      <button type="button" class="btn btn-default navbar-btn navbar-right" id="logout-nav" (click)="logout()" *ngIf="isAuthenticated">Logout</button>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid" id="app-component-container">
  <router-outlet></router-outlet>
</div>
