<div class="container-fluid jumbotron profile-component-info">

  <!--<img src="{{user.imageUrl}}" alt="" >-->

    <p>
      <strong>Id:</strong> {{user.googleIdentifier}}
    </p>
    <p>
      <strong>Nome:</strong> {{user.nome}}
    </p>
    <p>
      <strong>Email:</strong> {{user.email}}
    </p>
    <p *ngIf="!!user.matricula">
      <strong>Matricula:</strong> {{user.matricula|json}}
    </p>

    <div *ngIf="!user.matricula">
      <label for="input-matricula"><p><strong>Matricula:</strong></p></label>
      <input id="input-matricula" [(ngModel)]="matriculaInput" placeholder="Insira sua matrícula">
    </div>
    <form (submit)="cadastrarUsurio(user)" *ngIf="!user.matricula">

      <button type="submit" class="btn btn-primary" style="margin-left: 20px">Cadastrar-se</button>
    </form>


</div>
